.buyButton {
  width: 10em;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 1em;
  /* border: 1px red solid; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.buySellCol {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* border: 1px green solid; */
  margin-top: 1em;
}

.buySellTextField {
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 18.3em;
  min-width: 9em;
}

/* .buySellTitle {
  font-weight: bold;
  min-width: 15em;
  border: 1px yellow solid;
} */

/* .buySellValue {
  min-width: 15em;
  margin-top: 0.7em;
} */
